/* .container{
    max-width: 1200px;
} */

.head{
    display: flex;
    justify-content: space-around;
}

/* .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

.card{
    /* width: 300px;
    display: n; */
}