.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    nav{
        ul{
            display: flex;
            list-style: none;
            text-decoration: none;
            gap: 30px;
        }
    }
}